.listHolder {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  flex-grow: 1;
  padding: 20px 12px 12px;
  box-sizing: border-box;
  .items {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;
    li {
      padding: 0 0 0 3px;
      color: #555;
    }
  }
}
